
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <h1>User Profile</h1>

    <h2>Welcome @Context.User.Identity.Name</h2>
    <a asp-controller="Customer" asp-action="Logout">Logout</a>

</div>

